.sidebar {
  height: 90vh;
  background: #111;
  width: 60px;
  transition: all 0.5s ease;
}
.visible {
  display: none;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 150px;
}
.sidebar a {
  color: #fff;
}
.sidebar a:active,
.sidebar a:hover {
  color: #e95420 !important;
}
.sidebar.active .visible {
  display: block;
  margin-left: 1rem;
  transition: all 0.5s ease-in-out;
}
.flex {
  display: flex;
  padding: 0.5rem 1rem;
}

.content {
  height: 90vh;
  width: 100vw;
}
