.hero {
  background: url("../../assets/images/herobg.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}
.hero__content h1 {
  line-height: 70px;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0.7;
  z-index: -1;
}

.form__input--border {
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.form__btn--border {
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 0 1rem;
  }
  .hero__content h1 {
    line-height: 40px;
  }
}
