

header {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    font-size: 1.5rem;
}
.nav__logo span {
    color: var(--light-blue);
}
nav a:hover {
    color:var(--light-blue)
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}
.nav__items ul {
    margin: 0 auto;
}
.nav__items a{
    padding: 0 1rem;
    text-transform: uppercase;
}
.nav__btns {
    margin-left: 5rem;
}
/* Custom color for my bootstrap btn */
.btn-custom {
    background-color: var(--light-blue);
    color: #fff;
    margin:0 1rem;
}

.nav__toggle-btn {
    cursor: pointer;
    display: none;
}

@media screen and(min-width:768px){
    .nav__toggle-btn {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .nav__toggle-btn {
        display: block;
    }
     .nav__items {
        position: absolute;
        top: 82px;
        height: 80vh;
        left: 0;
        width: 100vw;
        flex-direction: column;
        background: var(--blue);
        color: #fff;
    }
    .nav__items ul {
        flex-direction: column;
    }
    .nav__items ul li{
        padding: 1rem;
    } 
    .nav__btns{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 0.5rem;
        height: 20%;
        padding: 1rem 0;
        transition: all .5s ease-in-out;
    } 
    .nav__items.show {
        left:   -101%;
    }
}
