header {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav a:hover {
    color:var(--light-blue)
}
.logo {
    font-size: 1.5rem;
}
.logo span {
    color: var(--light-blue);
}
.nav__content {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav__content a {
    padding: 1rem;
}
.nav__links {
    margin-right: 2rem;
}
/* Custom color for my bootstrap btn */
.btn-custom {
    background-color: var(--light-blue);
    color: #fff;
}
.nav__bars {
    cursor: pointer;
    transition: all .3s ease;
}
@media screen and (max-width: 768px) {
    .nav {
        position: relative;
    }
    .logo {
        margin-left: 1rem;
    }
    .nav__content {
        position: absolute;
        top: 55px;
        left: -3%;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
        width: 50%;
        height: 80vh;
        background: var(--blue);
        color: #fff;
        transition: all .3s ease-in-out;
    }
    .nav__content.show {
        left: -101%;
    }
    .nav__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav__btns {
        display: flex;
        flex-direction: column;
    }
    .nav__btns button {
        margin: .5rem 0;
    }
   
}
@media screen and (min-width: 768px) {
    .nav__bars {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .nav__links{
        margin-right: 0;
    }
    .nav__btns {
        margin-left: 0;
    }
}
