.footer {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.socials li{
    padding: .25rem 0;
}

@media  screen and (max-width: 768px) {
    .footer {
        align-items: center;
    }
    .socials {  display: flex;
        background: red;

    }
    .socials li a{
       background-color: green;
       margin-left: 0;
    }
    
    
}
