@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap");
:root {
  --light-bg: #dfba6910;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}
img,
body {
  font-family: "Rubik", sans-serif !important;
  color: #fff;
}
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
input:focus {
  outline: none !important;
}
a {
  text-decoration: none !important;
  color: inherit;
}
i,
svg {
  cursor: pointer !important;
}
a:hover {
  color: var(--black);
}
ul li {
  list-style: none;
}
button {
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4 {
  max-width: 60ch;
}
hr {
  border: none;
  border-top: medium double black;
  color: black;
  text-align: center;
}

hr::after {
  content: "";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background-color: white;
}

/* Boostrap custom code */
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #e95420 !important;
}

.btn-custom {
  background-color: #111 !important;
  color: #fff !important;
}

.btn-custom:hover {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fff !important;
}

/* Section background */

.page {
  background: var(--light-bg);
}

/* Bg banner */
.banner {
  position: relative;
  background: url("./assets/images/newlisting-banner.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0.5;
  z-index: -1;
}

/* Aligning icons with text */
.icon-text {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Capitalize only the first letter of a sentence */

.capitalize-first:first-letter {
  text-transform: capitalize;
}

/* Animations, transitions, and more... */

/* Link underline  */
.underline {
  text-decoration: underline !important;
}

/*Customize bootsrap carousel prev and next icon bg and the indicators */

.carousel-control-next-icon {
  background-image: url("../src/assets/images/right-arrow.png") !important;
}
.carousel-control-prev-icon {
  background-image: url("../src/assets/images/left-arrow.png") !important;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}
.carousel-indicators {
  display: none !important;
}

/* NewListing custom styles */
.form__section {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 30px;
  border: 2px solid #f3f3f6;
}

.form__section a {
  color: #000 !important;
}

.form__section a:hover,
.form__section a:active {
  color: #e95420 !important;
}
.img-overlay {
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .form__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile__view {
    display: none !important;
  }
}

/* New Listing ends */

/* Footer */
.footer a {
  color: #fff !important;
}
