/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap'); */
html {
    scroll-behavior: smooth;
  }
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
font: inherit;
}
input:focus {
  outline: none !important;
}
a {
    text-decoration: none !important;
    color: inherit;
}
a:hover {
color: var(--black);
}
ul li {
    list-style: none;
}
button {
  cursor: pointer;
}
p, h1, h2, h3, h4 {
  max-width: 60ch;
}
hr {
    height: 30px;
    border-style: solid;
    border-color: #e95420;
    border-width: 2px 0 0 0;
    border-radius: 20px;
}
hr::before {
  display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #e95420;
    border-width: 0 0 1px 0;
    border-radius: 20px;
} 

body {
   /* font-family: 'Rubik', sans-serif; */
    /* Inter, Avenir, Helvetica, Arial, sans-serif;  */
   color: #fff;
}

/* Boostrap custom code */
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: #e95420 !important;
}

.btn-custom {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: #fff !important;
}

.btn-custom:hover {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fff !important;
}