@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --blue: #37aaf7;
    --light-blue:  #4db7fe;
    --black: #111;
    --gray: #f3f3f3;
    --pink: #DFBA6910;
}
html {
    scroll-behavior: smooth;
  }
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
font: inherit;
}
input:focus {
  outline: none !important;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
color: var(--black);
}
ul li {
    list-style: none;
}
button {
  cursor: pointer;
}
p, h1, h2, h3, h4 {
  max-width: 60ch;
}
hr {
    height: 30px;
    border-style: solid;
    border-color: var(--black);
    border-width: 2px 0 0 0;
    border-radius: 20px;
}
hr::before {
  display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: var(--black);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
body {
   font-family: 'Rubik', sans-serif;
   /* Inter, Avenir, Helvetica, Arial, sans-serif; */
   color: var(--black);
}
/* Custom color for my bootstrap btn */
.btn-custom {
  background-color: var(--light-blue);
  color: #fff;
}
.btn-custom__secondary {
  background-color: var(--black);
  color: #fff;
}
.btn-custom:hover {
  background-color: var(--black);
  color: #fff;
}
.btn-custom__secondary:hover {
  background-color: var(--light-blue);
  color: #fff;
}